@import "tailwindcss";

/* Tailwind custom color variables */
:root {
  --color-bg: #8ECAE6;         /* Background */
  --color-text: #ffc300;       /* Text */
  --color-border: #343a40;     /* Border */
  --color-secondary: #219EBC;  /* Secondary */
  --color-spare: #023047;      /* Spare */
}

/* Utility classes for using the variables */
.bg-custom {
  background-color: var(--color-bg);
}

.text-custom {
  color: var(--color-text);
}

.border-custom {
  border-color: var(--color-border);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-spare {
  background-color: var(--color-spare);
}
